/.DS_Store
/.vscode
/Project_2
/excel
/flipkart
/jsNotes.txt
/lecture1
/lecture10
/lecture11
/lecture11Bootstarp 11
/lecture12
/lecture13
/lecture14
/lecture15
/lecture16
/lecture2
/lecture3
/lecture4_css
/lecture5
/lecture6
/lecture7
/lecture8
/lecture9